/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: quasimodo;
    src: url(assets/fonts/QuasimodoRegular.ttf) format("opentype");
  }

body {
    background-color: #f9d9af;
    font-family: quasimodo;
    margin-left: 6vw;
    margin-right: 6vw;
}

.main-body {
    background-color: #fceed9;
    padding: 5vw;
    padding-top: clamp(0px, 15vh, 15vh);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

button {
    font-size: clamp(20px, 4vw, 1px);
    background-color: #5d2818;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    padding-top: 22px;
    margin-top: 1em;
}

form {
    background-color: #5d2818;
}

.form-control {
    margin-bottom: 1vw;
}
.modal-header {
    background-color: #fceed9;
}

.modal-footer {
    background-color: #fceed9;
}

.center {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: clamp(23px, 5vw, 5vw);
    padding-top: 2em;
}

.subtitle {
    text-align: center;
    font-size: clamp(2px, 4vw, 4vw);
}

.playerContainer {
    display: flex;
    justify-content: start;
}

.player {
    font-size: 1em;
    height: 24vw;
    width: 15vw;
    padding: 1.5vw;
    border-radius: 1vw;
    margin: 1vw;
    box-shadow: 0 0 0 0.6vw #5d2818;
    background-color: #fefce3;
}

.btn-group-toggle {
    background-color: #fceed9;
}

#add-player {
    font-size: 10vw;
    padding-top: unset;
    font-family: cursive;
    color: black;
    border-style: dashed;
    border-width: 5px;
    box-shadow: none;
}