<form [formGroup]="editPlayerForm" (ngSubmit)="onSubmit(editPlayerForm.value)">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit</h4>
        <button type="button" class="close" aria-label="Close"
            (click)="activeModalService.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="editPlayerLevel">Level</label>
            <input type="number" [ngModel]="selectedPlayer._level" [min]="1" [max]="10" id="editPlayerLevel" class="form-control" formControlName="level">
            <label for="editPlayerStrength">Strength</label>
            <input type="number" [ngModel]="selectedPlayer._strength" [min]="1" id="editPlayerStrength" class="form-control" formControlName="strength">
            <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="sex" [ngModel]="selectedPlayer._sex"
                name="radioBasic">
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value="Male">Male
                </label>
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value="Female">Female
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
    </div>
</form>